<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.communitymanagementsystem.mybatis.mappers.ActivityMapper">

    <select id="selectActivityNO" resultType="com.example.communitymanagementsystem.Mapper.brean.ActivityBrean">
        select *
        from activity
        where State = "正在进行"
    </select>

    <select id="selectActivityCondition" resultType="com.example.communitymanagementsystem.Mapper.brean.ActivityBrean">
        select *
        from activity
        where State = "正在进行"
          and ${key} = #{value}
    </select>

    <insert id="ActivityRequest">
        insert into activity
        (Title, Place, startDate, endDate, numberOfPeople, MAXPeople, hostAssociactionID, State, Remark)
        values (#{Title}, #{Place}, #{startDate}, #{endDate}, 0, #{MAXPeople},
                #{hostAssociactionID}, "申请中", #{Remark})
    </insert>

    <select id="activityStringID" resultType="string">
        select activityStringID
        from personal
        where number = "${number}"
    </select>

    <update id="updata">
        update personal
        set activityStringID = "${data}"
        where number = "${number}"
    </update>

    <update id="upda">
        update activity
        <set>
            <if test="con == 0">numberOfPeople = numberOfPeople - 1</if>
            <if test="con == 1">numberOfPeople = numberOfPeople + 1</if>
        </set>
        where ID = #{ID}
    </update>

    <select id="activityAll" resultType="com.example.communitymanagementsystem.Mapper.brean.ActivityBrean">
        select *
        from activity,
             association
        where activity.hostAssociactionID = association.associationID
          and ID = #{ID}
    </select>

    <select id="selectPeople" resultType="boolean">
        select count(*) = 1
        from activity
        where MAXPeople = numberOfPeople
          and numberOfPeople != 0
          and ID = #{ID}
    </select>

    <delete id="delete">
        delete
        from activity
        where ID = #{ID}
          and State != "正在进行"
    </delete>

    <select id="ActivityHistoryDel" resultType="string">
        select State
        from activity
        where ID = #{ID}
    </select>

    <select id="activityHistorySelectNo" resultType="com.example.communitymanagementsystem.Mapper.brean.ActivityBrean">
        select *
        from activity
        where hostAssociactionID = #{hostAssociactionID}
    </select>

    <select id="activityHistorySelectCondition"
            resultType="com.example.communitymanagementsystem.Mapper.brean.ActivityBrean">
        select *
        from activity
        where hostAssociactionID = #{hostAssociactionID}
          and ${key} = #{value}
    </select>

    <select id="announcement" resultType="com.example.communitymanagementsystem.Mapper.brean.AnnouncementBean">
        select *
        from association,
             announcement
        where association.associationID = announcement.announcementID
    </select>

    <select id="selectID" resultType="java.lang.String">
        select associationID
        from association
        where associationName = #{value}
    </select>
</mapper>