<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.communitymanagementsystem.mybatis.mappers.AssociationMapper">

    <select id="select" resultType="map">
        select *
        from association
        <where>
            <if test="key == 'associationID'">associationID = #{value}</if>
            <if test="key == 'associationName'">associationName = #{value}</if>
            <if test="key == 'associationProprieter'">associationProprieter = #{value}</if>
        </where>
    </select>

    <select id="selectInformation" resultType="map">
        select Number, applyAssociation, applyResult, associationName, associationProprieter
        from applyinformation,
             association
        where applyinformation.applyAssociation = association.associationID
          and applyNumber = #{number}
          and applyT = 1
    </select>

    <select id="selectAll" resultType="map">
        select *
        from association
    </select>

    <update id="selectupdate">
        update applyinformation
        set applyT = 0
        where applyNumber = #{number}
          and applyResult is not null
    </update>

    <insert id="create">
        insert into applyinformation (applyAssociation, applyNumber, applyT, applyIntroduction)
        values (#{applyAssociation}, #{applyNumber}, 1, #{applyIntroduction})
    </insert>

    <select id="MyClubStatusSelectApplyinformationBean"
            resultType="com.example.communitymanagementsystem.Mapper.brean.ApplyInformationBean">
        select *
        from applyinformation
        where applyNumber = #{number}
          and applyT = 1
    </select>

    <select id="MyClubStatusSelectAssociationBean"
            resultType="com.example.communitymanagementsystem.Mapper.brean.AssociationBean">
        select *
        from association
        where associationID = #{applyAssociation}
    </select>

    <delete id="DeleteApplyInformation">
        delete
        from applyinformation
        where Number = #{ApplyInformationNumber}
    </delete>

    <select id="reviewedApplyInformationBeanSelect"
            resultType="com.example.communitymanagementsystem.Mapper.brean.ApplyInformationBean">
        select *
        from applyinformation
        where applyAssociation = #{associationNumber}
          and applyResult is null
    </select>

    <update id="judge">
        update applyinformation
        <set>
            <choose>
                <when test="result">
                    applyResult = "1"
                </when>
                <otherwise>
                    applyResult = "0"
                </otherwise>
            </choose>
        </set>
        where Number = #{ID}
    </update>

    <select id="judgeSelect" resultType="com.example.communitymanagementsystem.Mapper.brean.ApplyInformationBean">
        select *
        from applyinformation
        where Number = #{ID}
    </select>

    <update id="judgeUpdate">
        update association
        set associationNumber = associationNumber + 1
        where associationID = #{applyAssociation}
    </update>

    <update id="KickOut">
        update
            association
        set associationNumber = associationNumber - 1
        where associationID = (select associationNumber from personal where number = #{number});

        update
            personal
        set associationNumber = "",
            major             = ""
        where number = #{number}
    </update>

    <select id="MoveAssociationApplication" resultType="com.example.communitymanagementsystem.Mapper.brean.AssociationBean">
        select *
        from association
        where associationID =(
        <if test="index ==1 ">select max(associationID) from association where #{associationID} > associationID
        </if>
        <if test="index == 0">select min(associationID) from association where associationID > #{associationID}
        </if>
        )
    </select>

    <select id="CommunityInformationMaintenanceSelect" parameterType="string"
            resultType="com.example.communitymanagementsystem.Mapper.brean.AssociationBean">
        select *
        from association
        where associationID = (select associationNumber from personal where number = #{number})
    </select>

    <select id="selectImg" resultType="string" parameterType="string">
        select associationBlob
        from association
        where associationID = #{associationID}
    </select>

    <update id="CommunityInformationImg">
        update association
        set associationBlob = #{associationBlob}
        where associationID = #{associationID}
    </update>

    <update id="CommunityInformationHandoverUpdate">
        update personal
        set major = "3"
        where number = (select associationProprieterNumber from association where associationID = #{associationID});

        update personal
        set major = "1"
        where number = #{number};

        update association
        set associationProprieterNumber = #{number},
            associationProprieter       = (select Name from personal where number = #{number})
        where associationID = #{associationID}
    </update>

    <update id="CommunityInformationMaintenanceIntroduce">
        update association
        set associationIntroduce = #{introduce}
        where associationID = #{associationID}
    </update>

    <select id="noticeSelect" resultType="com.example.communitymanagementsystem.Mapper.brean.NoticeBean">
        select *
        from notice
        where noticeID = #{noticeID}
        order by noticeDate desc
    </select>

    <insert id="noticeAdd">
        insert into notice(noticeID, noticeName, noticeDate, notice)
        values (#{noticeID}, #{noticeName}, #{noticeDate}, #{notice})
    </insert>

    <delete id="noticeDelete">
        delete
        from notice
        where ID = #{id}
    </delete>

    <select id="majorSelect" resultType="java.lang.String">
        select associationPositionID
        from associationposition
        where associationPositionName = #{value}
    </select>

    <select id="AddOrganizationSelectNo"
            resultType="com.example.communitymanagementsystem.Mapper.brean.AssociationBean">
        select *
        from association
    </select>


    <select id="AddOrganizationSelectCondition"
            resultType="com.example.communitymanagementsystem.Mapper.brean.AssociationBean">
        select *
        from association
        where ${key} = #{value}
    </select>

    <select id="AssociationSelect"
            resultType="com.example.communitymanagementsystem.Mapper.brean.SchoolAgreeAssociationBean">
        select *
        from schoolagreeassociation
        where associationProprieterNumber = #{number}
    </select>

    <insert id="CreateAssociation"
            parameterType="com.example.communitymanagementsystem.Mapper.brean.SchoolAgreeAssociationBean">
        insert into schoolagreeassociation(associationID, associationName, associationProprieterNumber,
                                           associationProprieter, associationIntroduce, associationReason)
        values (#{associationID}, #{associationName}, #{associationProprieterNumber},
                #{associationProprieter}, #{associationIntroduce}, #{associationReason})
    </insert>
</mapper>