<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.communitymanagementsystem.mybatis.mappers.PersonalMapper">

    <!--查询一条或者所有数据-->
    <select id="select" resultType="com.example.communitymanagementsystem.Mapper.brean.PersonalBean">
        select *
        from personal ,association
        where personal.associationNumber = association.associationID
        <if test="number != null and number != ''">
            and number = #{number}
        </if>
    </select>

    <!--做登录查询的-->
    <select id="selectAll" resultType="com.example.communitymanagementsystem.Mapper.brean.PersonalBean">
        select *
        from personal
        where number = #{number}
    </select>

    <!--查询一条或者所有数据-->
    <select id="selectAssociation" resultType="com.example.communitymanagementsystem.Mapper.brean.PersonalBean">
        select *
        from personal,
             association
        where personal.associationNumber = association.associationID
          and personal.associationNumber in (select associationNumber from personal where number = #{number})
    </select>

    <select id="CommunityPersonSelectNO" resultType="com.example.communitymanagementsystem.Mapper.brean.PersonalBean">
        select *
        from personal
        where associationNumber = #{associationNumber}
    </select>

    <select id="CommunityPersonSelectCondition"
            resultType="com.example.communitymanagementsystem.Mapper.brean.PersonalBean">
        select *
        from personal
        where associationNumber = #{associationNumber}
          and ${key} = #{value}
    </select>

    <!--插入一条数据-->
    <insert id="insert" parameterType="com.example.communitymanagementsystem.Mapper.brean.PersonalBean">
        insert into personal (number, password, Telephone, dateOfRegistration)
        values (#{number}, #{password}, #{Telephone},#{dateOfRegistration});
    </insert>

    <!--头像更新-->
    <update id="updataBold">
        update personal
        set bold=#{bold}
        where number = #{number}
    </update>

    <!--更新数据-->
    <update id="updata" parameterType="com.example.communitymanagementsystem.Mapper.brean.PersonalBean">
        update personal
        set
        <if test="nickName != null and nickName != ''">
            nickName =#{nickName},
        </if>
        <if test="studentNumber != null and studentNumber != ''">
            studentNumber =#{studentNumber},
        </if>
        <if test="dateOfBirth != null">
            dateOfBirth = #{dateOfBirth},
        </if>
        <if test="name != null and name != ''">
            Name = #{Name},
        </if>
        <if test="schoolMajor != null and schoolMajor != ''">
            schoolMajor = #{schoolMajor},
        </if>
        <if test="Telephone != null and Telephone != ''">
            Telephone = #{Telephone},
        </if>
        <if test="mailbox != null and mailbox != ''">
            mailbox = #{mailbox},
        </if>
        <if test="sex != null and sex != ''">
            sex = #{sex},
        </if>
        password = #{password}
        where number = #{number};
    </update>

    <update id="judgeUpdate">
        update personal
        set associationNumber = "${applyAssociation}",
            major             = "3"
        where number = #{number};
    </update>
</mapper>