<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>activityAll</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/date.js}"></script>
    <style type="text/css">
        tr {
            height: 40px;
        }

        td {
            width: 600px;
            text-align: center;
        }

        option {
            background: rgba(0, 0, 0, 0);
        }
    </style>

    <script type="text/javascript" th:inline="javascript">
        var personalBean = parent.window.personalBean;

        var number = personalBean["number"];

        var list;

        var _data = {}

        /*================添加数据===========================*/
        $(function () {
            /**获取数据*/
            _data.number = number;

            $.ajax({
                url: "/activityAll/select",
                data: _data,
                type: "get",
                async: false,
                success: function (data) {
                    list = data;
                }
            });

            init();
        });

        /**内容的插入*/
        function init() {
            /**获取表格中的tbody*/
            let table = $(".table > tbody");
            /**清空表格中的数据*/
            table.html("");

            /*创建表中的对象标签*/
            for (let i = 0; i < 6; i++) {
                if (i < list.length) {
                    let activity = list[i];

                    let tr = $("<tr></tr>");
                    let td = [];

                    /**创建标签*/
                    for (let j = 0; j < 10; j++) {
                        td[j] = $("<td></td>");
                    }

                    let div = $("<div></div>").attr("style", "display: none;").text(activity["id"])
                    td[0].text(activity["title"]);

                    _data.associationNumber = activity["hostAssociactionID"];
                    $.ajax({
                        url: "/associationNumber",
                        data: _data,
                        type: "get",
                        success: function (data) {
                            td[1].text(data);
                        }
                    });

                    td[2].text(dateFormat(new Date(activity["releaseDate"]), 'yyyy-MM-dd'));
                    td[3].text(activity["place"]);
                    td[4].text(dateFormat(new Date(activity["startDate"]), 'yyyy-MM-dd'));
                    if (activity["endDate"] == null) {
                        td[5].text("null");
                    } else {
                        td[5].text(dateFormat(new Date(activity["endDate"]), 'yyyy-MM-dd'));
                    }
                    td[6].text(activity["numberOfPeople"]);
                    td[7].text(activity["state"]);
                    td[8].text(activity["remark"]);

                    td[9] = $("<td><button onclick='signOut(this)'>退出</button></td>");

                    /**添加*/
                    for (let j = 0; j < 10; j++) {
                        tr.append(td[j]);
                    }

                    tr.append(div);
                    table.append(tr);
                }
            }
        }

        function signOut(button) {
            _data.ID = $(button).closest("tr").find("div").eq(0).text();
            $.ajax({
                url: "/activityAllSignOut",
                data:_data,
                type:"post",
                success: function (dex) {
                    alert(dex);
                    window.location.reload();
                }
            })
        }
    </script>
</head>
<body>
<table class="table" border="1">
    <thead>
    <tr>
        <td>标题</td>
        <td>主办社团</td>
        <td>发布日期</td>
        <td>地点</td>
        <td>开始日期</td>
        <td>结束日期</td>
        <td>报名人数</td>
        <td>状态</td>
        <td>备注</td>
        <td>操作</td>
    </tr>
    </thead>

    <tbody>

    </tbody>
</table>
</body>
</html>