<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>activity</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/date.js}"></script>
    <style type="text/css">
        tr {
            height: 40px;
        }

        td {
            width: 600px;
            text-align: center;
        }

        option {
            background: rgba(0, 0, 0, 0);
        }

        .Jump {
            margin-top: 20px;
            text-align: center;
        }

        .inp {
            width: 30px;
        }

        .total {
            display: inline-block;
        }

    </style>

    <script type="text/javascript">
        var personalBean = parent.window.personalBean;

        var number = personalBean["number"];

        var _activity;

        var _data = {};

        /*================添加数据===========================*/
        $(function () {
            /**获取数据*/
            _data.index = 1;
            $.ajax({
                url: "selectActivity",
                data: _data,
                type: "get",
                async: false,
                success: function (data) {
                    _activity = data;
                }
            });

            init();

            /**查询点击事件*/
            $(".button").on("click", function () {
                /**获取选项*/
                _data.key = $(".sel").val();
                /**获取输入的值*/
                _data.value = $(".select").val();

                updateData();
            });
        });

        /**内容的插入*/
        function init() {
            /**初始页面页码*/
            $(".inp").val(_activity["pageNum"]);
            /**获取表格中的tbody*/
            let table = $(".table > tbody");
            /**清空表格中的数据*/
            table.html("");

            /*添加总页数*/
            $(".totalNumber").text(_activity["pages"]);

            /*获取josn中的list中的数据*/
            let list = _activity["list"]

            /*创建表中的对象标签*/
            for (let i = 0; i < 6; i++) {
                if (i < list.length) {
                    let activity = list[i];

                    let tr = $("<tr></tr>");
                    let td = [];

                    /**创建标签*/
                    for (let j = 0; j < 10; j++) {
                        td[j] = $("<td></td>");
                    }

                    let div = $("<div></div>").attr("style", "display: none;").text(activity["id"])
                    td[0].text(activity["title"]);

                    _data.associationNumber = activity["hostAssociactionID"];

                    $.ajax({
                        url: "/Community/get/associationNumber",
                        data: _data,
                        type: "get",
                        success: function (data) {
                            td[1].text(data);
                        }
                    })

                    td[2].text(dateFormat(new Date(activity["releaseDate"]), 'yyyy-MM-dd'));
                    td[3].text(activity["place"]);
                    td[4].text(dateFormat(new Date(activity["startDate"]), 'yyyy-MM-dd'));
                    if (activity["endDate"] == null) {
                        td[5].text("null");
                    } else {
                        td[5].text(dateFormat(new Date(activity["endDate"]), 'yyyy-MM-dd'));
                    }
                    td[6].text(activity["numberOfPeople"]);
                    td[7].text(activity["state"]);
                    td[8].text(activity["remark"]);

                    td[9] = $("<td><button onclick='apply(this)'>申请</button></td>");

                    /**添加*/
                    for (let j = 0; j < 10; j++) {
                        tr.append(td[j]);
                    }

                    tr.append(div);
                    table.append(tr);
                }
            }
        }

        /**申请加入活动事件*/
        function apply(button) {
            let ID = $(button).closest("tr").find("div").eq(0).text();
            _data.number = number;
            _data.ID = ID;
            $.ajax({
                url: "activityAdd",
                type: "get",
                data: _data,
                success: function (dex) {
                    alert(dex);
                    if(dex =="申请成功!"){
                        $(button).closest("tr").find("td").eq(6).text(parseInt($(button).closest("tr").find("td").eq(6).text()) + 1);
                    }
                }
            })
        }

        /**分页事件*/
        function shu(num) {
            /**获取选项*/
            _data.key = $(".sel").val();
            /**获取输入的值*/
            _data.value = $(".select").val();

            /*获取输入框的数字*/
            let index = _activity["pageNum"];

            if (num == "button1" && index > 1) {
                $(".inp").val(index - 1);
                _data.index = index - 1;
                updateData();
            } else if (num == "button2" && index < _activity["pages"]) {
                $(".inp").val(index + 1);
                _data.index = index + 1;
                updateData();
            }
        }

        /**数据更新*/
        function updateData(){
            $.ajax({
                url: "selectActivity",
                data: _data,
                type: "get",
                async: false,
                success: function (data) {
                    _activity = data;
                    init();
                }
            });
        }

    </script>
</head>
<body style="background: rgb(255,255,255)">
<table class="table" border="1">
    <thead>
    <tr>
        <td>
            <select class="sel" style="background: rgba(0, 0, 0, 0); font-size: 20px;width: 100px;">
                <option value="Title">标题</option>
                <option value="hostAssociactionID">主办社团</option>
                <option value="Place">地点</option>
            </select>
        </td>
        <td colspan="8"><input class="select" style="width: 1000px; height: 30px;font-size: 20px;"/></td>
        <td colspan="2">
            <button class="button">查询</button>
        </td>
    </tr>
    <tr>
        <td>标题</td>
        <td>主办社团</td>
        <td>发布日期</td>
        <td>地点</td>
        <td>开始日期</td>
        <td>结束日期</td>
        <td>报名人数</td>
        <td>状态</td>
        <td>备注</td>
        <td>操作</td>
    </tr>
    </thead>

    <tbody>

    </tbody>
</table>

<div class="Jump">
    <button class="button1" onclick="shu('button1')">上</button>
    <!-- onkeyup对输入的值进行限制 -->
    <input class="inp" onkeyup="value=value.replace(/[^\d]/g,'')"/>
    <button class="button2" onclick="shu('button2')">下</button>
    <div class="total">总数：
        <div class="totalNumber" style="display: inline-block"/>
    </div>
</div>

</body>
</html>