<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>ActivityHistory</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/date.js}"></script>
    <style type="text/css">
        tr {
            height: 40px;
        }

        td {
            width: 600px;
            text-align: center;
        }

        option {
            background: rgba(0, 0, 0, 0);
        }

        .Jump {
            margin-top: 20px;
            text-align: center;
        }

        .inp {
            width: 30px;
        }

        .total {
            display: inline-block;
        }
    </style>

    <script type="text/javascript">
        var personalBean = parent.window.personalBean;

        var _data = {};

        var _list = {};

        $(function () {
            _data.index = 1;
            _data.hostAssociactionID = personalBean["associationNumber"];

            updateData();

            /**查询点击事件*/
            $(".button").on("click", function () {
                _data.value = $(".select").val();
                _data.key = $(".sel").val();

                $.ajax({
                    url: "ActivityHistory/select",
                    data: _data,
                    async: false,
                    success: function (data) {
                        _list = data;
                        console.log(data);
                        init();
                    }
                });
            });

        });

        function updateData() {
            $.ajax({
                url: "ActivityHistory/select",
                data: _data,
                async: false,
                success: function (data) {
                    _list = data;
                    init()
                }
            });
        }

        function init() {
            let table = $(".table > tbody");

            table.html("");

            $(".totalNumber").text(_list["pages"]);
            $(".inp").val(Number(_list["pageNum"]));

            let list = _list["list"];
            /*创建表中的对象标签*/
            for (let i = 0; i < 6; i++) {
                if (i < list.length) {
                    let activityBean = list[i];

                    let tr = $("<tr></tr>");
                    let td = [];
                    for (let j = 0; j < 10; j++) {
                        td[j] = $("<td></td>");
                    }

                    let div = $("<div></div>").attr("style", "display: none;").text(activityBean["id"]);

                    td[0].text(activityBean["title"]);
                    _data.associationNumber = activityBean["hostAssociactionID"];

                    $.ajax({
                        url: "associationNumber",
                        data: _data,
                        success: function (data) {
                            td[1].text(data);
                        }
                    });
                    td[2].text(dateFormat(new Date(activityBean["releaseDate"]), 'yyyy-MM-dd'));

                    td[3].text(activityBean["place"]);
                    td[4].text(dateFormat(new Date(activityBean["startDate"]), 'yyyy-MM-dd'));
                    if (activityBean["endDate"] == null) {
                        td[5].text("null");
                    } else {
                        td[5].text(dateFormat(new Date(activityBean["endDate"]), 'yyyy-MM-dd'));
                    }
                    td[6].text(activityBean["numberOfPeople"]);
                    td[7].text(activityBean["state"]);
                    td[8].text(activityBean["remark"]);

                    let str;

                    if (activityBean["state"] == "申请中") {
                        str = "<td><button onclick='apply(this)'>撤销申请</button></td>";
                    } else if (activityBean["state"] == "正在进行") {
                        str = "<td>正在进行中</td>";
                    } else {
                        str = "<td><button onclick='apply(this)'>删除记录</button></td>";
                    }

                    td[9] = $(str);

                    tr.append(div);
                    for (let j = 0; j < 10; j++) {
                        tr.append(td[j]);
                    }

                    table.append(tr);
                }
            }
        }

        /**删除记录的点击事件*/
        function apply(button) {
            _data.ID = $(button).closest("tr").find("div").eq(0).text();
            $.ajax({
                url: "ActivityHistory/delete",
                data: _data,
                success: function (dex) {
                    if ("删除成功！" == dex) {
                        alert("删除成功！")
                        $(button).closest("tr").remove();
                    } else {
                        alert("删除失败！")
                    }
                }
            });
        }

        /**分页事件*/
        function shu(num) {
            _data.value = $(".select").val();
            _data.key = $(".sel").val();

            /*输入框对象*/
            let input = $("input[class=inp]");

            /*获取输入框的数字*/
            let index = _list["pageNum"];

            if (num == "button1" && index > 1) {
                input.val(index - 1);
                _data.index = index - 1;
                updateData();
            } else if (num == "button2" && index < _list["pages"]) {
                input.val(index + 1);
                _data.index = index + 1;
                updateData();
            }
        }
    </script>
</head>
<body>
<table class="table" border="1">
    <thead>
    <tr>
        <td>
            <select class="sel" style="background: rgba(0, 0, 0, 0); font-size: 20px;width: 100px;">
                <option value="Title">标题</option>
                <option value="Place">地点</option>
                <option value="startDate">开始日期</option>
                <option value="endDate">结束日期</option>
            </select>
        </td>
        <td colspan="8">
            <input class="select" style="width: 1000px; height: 30px;font-size: 20px;"/>
        </td>
        <td colspan="2">
            <button class="button">查询</button>
        </td>
    </tr>
    <tr>
        <td>标题</td>
        <td>主办社团</td>
        <td>发布日期</td>
        <td>地点</td>
        <td>开始日期</td>
        <td>结束日期</td>
        <td>报名人数</td>
        <td>状态</td>
        <td>备注</td>
        <td>操作</td>
    </tr>
    </thead>

    <tbody>

    </tbody>
</table>

<div class="Jump">
    <button class="button1" onclick="shu('button1')">上</button>
    <!-- onkeyup对输入的值进行限制 -->
    <input class="inp" onkeyup="value=value.replace(/[^\d]/g,'')"/>
    <button class="button2" onclick="shu('button2')">下</button>
    <div class="total">总数：
        <div class="totalNumber" style="display: inline-block"/>
    </div>
</div>
</body>
</html>