<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>associationProprieter</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <style type="text/css">
        .tab {
            position: relative;
            top: 100px;
            left: 300px;
            width: 50%;
            height: 50%;
        }

        .left, .right, .page, .pagenumber {
            margin-top: 10px;
            margin-left: 10px;
            display: inline-block;
            float: left;
            position: relative;
            left: 600px;
            top: 100px;
        }

        /**取消input标签加减按钮*/
        /* Chrome */
        input::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }

        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        /* Firefox */
        input[type='number'] {
            -moz-appearance: textfield;
        }

    </style>
    <script type="text/javascript" th:inline="javascript">

        /**社团编号*/
        var associationID = parent.window.personalBean["associationNumber"];

        var _list = {};

        var _data = {};

        $(function () {
            _data.index = 1;
            _data.associationNumber = associationID;

            $.ajax({
                url: "/MyClubStatus/CommunityPersonnelManagement/CommunityPersonSelect",
                data: _data,
                type: "get",
                async: false,
                success: function (data) {
                    _list = data;
                }
            });

            console.log(_list);
            init();
        });


        function init() {

            $(".tab > tbody").html("")

            $(".pagenumber").text("总页数：" + _list["pages"]);
            $(".page > input").val(_list["pageNum"]);

            for (let i = 0; i < _list["size"]; i++) {
                let data = _list["list"][i];
                let tr = $("<tr></tr>").append($("<td>" + data["number"] + "</td>")).append($("<td>" + data["name"] + "</td>")).append($("<td><button onclick='Handover(this)'>移交社长</button></td>"))
                $(".tab > tbody").append(tr);
            }
        }

        /**数据更新*/
        function updateData(){
            $.ajax({
                url: "/MyClubStatus/CommunityPersonnelManagement/CommunityPersonSelect",
                data: _data,
                type: "get",
                async: false,
                success: function (data) {
                    _list = data;
                    init();
                }
            });
        }

        /**查询指定条件的社团人*/
        function select() {
           _data.key = $(".select").val();
           _data.value = $(".data").val();
           updateData();
        }

        /**进行社长移交操作*/
        function Handover(button) {
            _data.number = $(button).closest("tr").find("td").eq(0).text();;
            _data.associationID = associationID;

            $.ajax({
                url: "Handover/update",
                data: _data,
                success: function (dex) {
                    if (dex == "成功！") {
                        alert("移交成功！");
                        window.parent.location.reload();
                    } else {
                        alert("移交失败！");
                    }
                }
            });
        }

        /**上下页按钮*/
        function page(condition) {
            let pag = _list["pageNum"];
            let input = $(".page > input");

            if (condition == "left" && pag > 1) {
                input.val(pag - 1);
                _data.index = pag - 1;
                updateData()
            } else if (condition == "right" && pag < _list["pages"]) {
                input.val(Number(pag) + 1);
                _data.index = pag + 1;
                updateData()
            }
        }


        /**input页面标签的数量样式*/
        function pageinput(input) {
            let value = $(input).val();
            if (value < 1) {
                $(input).val(1);
            } else if (value > _list["pages"]) {
                $(input).val(_list["pages"]);
            }
        }
    </script>
</head>
<body>
<table class="tab" border="1px">
    <thead>
    <tr>
        <td>
            <select class="select">
                <option value="number">账号</option>
                <option value="Name">姓名</option>
            </select>
        </td>
        <td><input class="data"></td>
        <td>
            <button onclick="select()">查询</button>
        </td>
    </tr>
    <tr>
        <td>账号</td>
        <td>姓名</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<button class="left" onclick="page('left')"> <</button>
<div class="page"><input style="width: 50px;" onchange="pageinput(this)" type="number"></div>
<button class="right" onclick="page('right')"> ></button>
<text class="pagenumber"></text>

</body>
</html>