<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/date.js}"></script>
    <title>CommunityPersonnelManagement</title>
    <style type="text/css">
        tr {
            height: 40px;
        }

        td {
            width: 600px;
            text-align: center;
        }

        .button2 {
            width: 100px;
            display: inline-block;

        }

        .button1 {
            width: 100px;

        }

        .Jump {
            margin-top: 20px;
            text-align: center;
        }

        .inp {
            width: 30px;
        }

        .total {
            display: inline-block;
        }

        option {
            background: rgba(0, 0, 0, 0);
        }

        .select {
            background: rgba(0, 0, 0, 0);
            width: 400px;
            height: 30px;
            font-size: 20px;
        }
    </style>

    <script type="text/javascript">
        var personalBean = parent.window.personalBean;

        var number = personalBean["number"];

        var _data = {}

        /**返回数据的list集合*/
        var _list;

        /**权限判断*/
        var _Flag;

        $(function () {
            _data.index = 1;
            _data.associationNumber = personalBean["associationNumber"];
            $.ajax({
                url: "CommunityPersonnelManagement/CommunityPersonSelect",
                data: _data,
                type: "get",
                async: false,
                success: function (data) {
                    _list = data;
                }
            });

            /**表头的权限操作*/
            let major = personalBean["major"];
            _Flag = major == "1" || major == "2";
            /**创建操作表格头*/
            if (_Flag) {
                $(".TdSelect").attr("colspan", 6);
                $(".TrTitle").append($("<td colspan='2'>操作</td>"));
            }

            init();

            /*总页数数*/
            let total = _list["pages"];

            let input = $("input[class=inp]");

            input.val(_list["pageNum"]);

            let index = Number(input.val());

            $("input[class=inp]").change(function () {
                if (index >= total) {
                    input.val(total);
                } else if (index <= 1) {
                    input.val(1);
                }
            });
        })

        /**内容的插入*/
        function init() {
            $(".inp").val(_list["pageNum"]);

            let table = $(".table > tbody");

            table.html("")

            /*添加总页数*/
            $(".totalNumber").text(_list["pages"]);

            /*获取list中的数据*/
            let list = _list["list"]

            /*创建表中的对象标签*/
            for (let i = 0; i < 6; i++) {
                if (i < list.length) {

                    let personal = list[i]
                    let tr = $("<tr></tr>");
                    let td = [];

                    for (let j = 0; j < 7; j++) {
                        td[j] = $("<td></td>");
                    }

                    td[0].text(personal["number"]);
                    td[1].text(personal["name"]);

                    if (personal["sex"] == 0) {
                        td[2].text("女");
                    } else if (personal["sex"] == 1) {
                        td[2].text("男");
                    } else {
                        td[2].text("");
                    }

                    if (personal["dateOfBirth"] == null) {
                        td[3].text("");
                    } else {
                        td[3].text(dateFormat(new Date(personal["dateOfBirth"]), 'yyyy-MM-dd'));
                    }

                    td[4].text(personal["telephone"]);

                    /**获取成员社团职位*/
                    _data.major = personal["major"];

                    $.ajax({
                        url: "/Community/get/major",
                        data: _data,
                        success: function (data) {
                            td[5].text(data);
                        }
                    })

                    td[6].text(dateFormat(new Date(personal["dateOfRegistration"]), 'yyyy-MM-dd'));

                    for (let j = 0; j < 7; j++) {
                        tr.append(td[j]);
                    }

                    if (_Flag) {
                        /**创建社长人员管理按钮*/
                        if (personal["major"] == "3") {
                            tr.append($("<td><button onclick='KickOut(this)'>踢出社团</button></td><td><button onclick='administrator(this)'>设为管理员</button></td>"));
                        } else if (personal["major"] == "2") {
                            tr.append($("<td><button onclick='KickOut(this)'>踢出社团</button></td><td><button onclick='administrator(this)'>撤销管理员</button></td>"));
                        } else {
                            tr.append($("<td><button onclick='wuxiao()'>踢出社团</button></td><td><button onclick='wuxiao()'>设为管理员</button></td>"));
                        }
                    }

                    table.append(tr);
                }
            }
        }

        /**页面跳转*/
        function shu(num) {
            _data.key = $(".sel").val();
            _data.value = $(".select").val();

            let index = _list["pageNum"];

            if (num == "button1" && index > 1) {
                $("inp").val(index - 1);
                _data.index = index - 1;
                updateData();
            } else if (num == "button2" && index < _list["pages"]) {
                $("inp").val(index + 1);
                _data.index = index + 1;
                updateData();
            }
        }

        /**数据更新*/
        function updateData() {
            $.ajax({
                url: "CommunityPersonnelManagement/CommunityPersonSelect",
                data: _data,
                type: "get",
                async: false,
                success: function (data) {
                    _list = data;
                    init();
                }
            });
        }

        function select() {
            _data.key = $(".sel").val();
            _data.value = $(".select").val();
            updateData();
        }

        /**踢出社团的事件函数*/
        function KickOut(button) {
            _data.number = $(button).closest("tr").find("td").eq(0).text();
            $.ajax({
                url: "KickOut",
                data: _data,
                success: function (dex) {
                    alert(dex);
                    window.location.reload();
                }
            })
        }

        /**操作将对象设置为管理员职务*/
        function administrator(button) {
            _data.number = $(button).closest("tr").find("td").eq(0).text();
            $.ajax({
                url: "administrator",
                data: _data,
                success: function (dex) {
                    console.log(dex);
                    alert(dex);
                    window.location.reload();
                }
            })
        }

        /**将限制操作*/
        function wuxiao() {
            alert("不能进行该操作！");
        }
    </script>
</head>
<body style="background: rgb(255,255,255)">
<table class="table" border="1">
    <thead>
    <tr>
        <td>
            <select class="sel" style="font-size: 20px;width: 100px; background: rgba(0,0,0,0);border: none">
                <option value="number">用户名</option>
                <option value="name">姓名</option>
                <option value="sex">性别</option>
                <option value="major">职位</option>
                <option value="telephone">联系方式</option>
            </select>
        </td>

        <td class="TdSelect" colspan="5">
            <input class="select"/>
        </td>

        <td colspan="2">
            <button class="button" onclick="select()">查询</button>
        </td>
    </tr>
    <tr class="TrTitle">
        <td>用户名</td>
        <td>姓名</td>
        <td>性别</td>
        <td>出生日期</td>
        <td>联系方式</td>
        <td>职位</td>
        <td>注册日期</td>
    </tr>
    </thead>

    <tbody>

    </tbody>
</table>

<div class="Jump">
    <button class="button1" onclick="shu('button1')">上</button>
    <!-- onkeyup对输入的值进行限制 -->
    <input class="inp" onkeyup="value=value.replace(/[^\d]/g,'')"/>
    <button class="button2" onclick="shu('button2')">下</button>
    <div class="total">总数：
        <div class="totalNumber" style="display: inline-block"/>
    </div>
</div>
</body>
</html>