<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/date.js}"></script>
    <title>CommunityPersonnelManagement</title>
    <style type="text/css">
        tr {
            height: 40px;
        }

        td {
            width: 600px;
            text-align: center;
        }

        .button2 {
            width: 100px;
            display: inline-block;

        }

        .button1 {
            width: 100px;

        }

        .Jump {
            margin-top: 20px;
            text-align: center;
        }

        .inp {
            width: 30px;
        }

        .total {
            display: inline-block;
        }

        option {
            background: rgba(0, 0, 0, 0);
        }

        .select {
            background: rgba(0, 0, 0, 0);
            width: 400px;
            height: 30px;
            font-size: 20px;
        }
    </style>

    <script type="text/javascript">
        var number = window.parent.document.getElementsByClassName("quan")[0].innerHTML;

        $(function () {
            /*总页数数*/
            let total = Number($(".totalNumber")[0].innerText);
            let input = $("input[class=inp]");
            let index = Number(input.val());
            let url = window.location.href.toString();
            /*分解地址获取到请求地址的页数*/
            let dex = url.toString().substring(url.indexOf("CommunityPersonnelManagement/") + 29, url.length).split("/")[0];
            console.log(Number(dex))
            console.log(dex)
            input.val(isNaN(Number(dex)) ? 1 : Number(dex));

            $("input[class=inp]").change(function () {
                if (index >= total) {
                    input.val(total);
                } else if (index <= 1) {
                    input.val(1);
                }
            })
        });

        function shu(num) {

            let val = $(".select").val();
            let select = $(".sel").val();

            if (select == "sex") {
                if (val == "男") {
                    val = 1;
                } else if (val == "女") {
                    val = 0;
                } else {
                    val = "null";
                }
            }
            let va = select + ":" + val;

            /*总页数数*/
            let total = Number($(".totalNumber")[0].innerText);
            /*输入框对象*/
            let input = $("input[class=inp]");
            console.log(input.val());
            /*获取输入框的数字*/
            let index = Number(input.val());

            if (num == "button1" && index > 1) {
                input.val(index - 1);
                console.log(window.location.href)
                /*刷新页面更换地址==>split(index)[0]是为了分割去掉后面的查询参数*/
                window.location.href = window.location.href.split("MyClubStatus/")[0] + "MyClubStatus/CommunityPersonnelManagement/" + (index - 1) + "/" + va + "/" + number;
            } else if (num == "button2" && index < total) {
                input.val(index + 1);
                console.log(window.location.href)
                window.location.href = window.location.href.split("MyClubStatus/")[0] + "MyClubStatus/CommunityPersonnelManagement/" + (index + 1) + "/" + va + "/" + number;
            }

        }

        /*================添加数据===========================*/
        $(function () {
            let major = window.parent.document.getElementsByClassName("major")[0].innerHTML;
            let Flag = major == "社长";
            /**创建操作表格头*/
            if (Flag) {
                $(".TdSelect").attr("colspan", 6);
                $(".TrTitle").append($("<td>操作</td>"));
            }

            let table = $(".table")[0];

            /*获取到对象结果会将JSON字符串自动转换成js对象*/
            let data = [(${data})];
            console.log(typeof data);
            console.log(data);

            /*添加总页数*/
            $(".totalNumber")[0].innerText = data["pages"];

            /*获取josn中的list中的数据*/
            let list = data["list"]
            console.log(list);

            /*创建表中的对象标签*/
            for (let i = 0; i < 6; i++) {
                if (i < list.length) {
                    /*提取Object对象中的属性提取出*/
                    const {number, name, sex, dateOfBirth, telephone, major, dateOfRegistration} = list[i];

                    let tr = $("<tr></tr>");
                    let td1 = $("<td></td>");
                    let td2 = $("<td></td>");
                    let td3 = $("<td></td>");
                    let td4 = $("<td></td>");
                    let td5 = $("<td></td>");
                    let td6 = $("<td></td>");
                    let td7 = $("<td></td>");

                    td1[0].innerText = number;
                    td2[0].innerText = name;

                    if (sex == 0) {
                        td3[0].innerText = "女";
                    } else {
                        td3[0].innerText = "男";
                    }

                    if (dateOfBirth == null) {
                        td4[0].innerText = "null";
                    } else {
                        td4[0].innerText = dateFormat(new Date(dateOfBirth), 'yyyy-MM-dd');
                    }

                    td5[0].innerText = telephone;
                    td6[0].innerText = major;
                    td7[0].innerText = dateFormat(new Date(dateOfRegistration), 'yyyy-MM-dd');

                    tr.append(td1);
                    tr.append(td2);
                    tr.append(td3);
                    tr.append(td4);
                    tr.append(td5);
                    tr.append(td6);
                    tr.append(td7);

                    /**创建社长人员管理按钮*/
                    if (Flag) {
                        tr.append($("<td><button onclick='KickOut(this)'>踢出社团</button></td>"));
                    }

                    table.append(tr[0]);
                }
            }
        })

        /**踢出社团的事件函数*/
        function KickOut(button) {
            let number = $(button).closest("tr").find("td").eq(0).text();
            let data = {}
            data.number = number;

            $.ajax({
                url: window.location.href.split("MyClubStatus/")[0] + "MyClubStatus/KickOut",
                data: data,
                success: function (dex) {
                    alert(dex);
                    window.location.reload();
                }
            })
        }

        $(function () {

            let inp = $("input[class=inp]");
            let index = Number(inp.val());
            let button = $(".button");

            button.click(function () {
                let input = $(".select").val();
                let select = $(".sel").val();

                if (select == "sex") {
                    if (input == "男") {
                        input = 1;
                    } else {
                        input = 0;
                    }
                }
                let va = select + ":" + input;
                console.log(window.location.href.split(index)[0] + 1 + "/" + va);
                window.location.href = window.location.href.split(index)[0] + 1 + "/" + va + "/" + number;
            });

            /**防止查询后，刷新页面数据消失*/
            let data = "[(${condition})]";
            let condition = data.split(":")
            console.log(condition.length);
            if (condition.length == 2) {
                console.log(condition[0] == "sex");

                if (condition[0] == "sex") {
                    if (condition[1] == "1") {
                        condition[1] = "男";
                    } else if (condition[1] == "0") {
                        condition[1] = "女";
                    }
                }
                console.log(condition[1]);

                $(".select").attr("value", condition[1]);
                let name = "select>option[value=" + condition[0] + "]";
                console.log(name);
                $(name).attr("selected", true);
            }
        });
    </script>
</head>
<body>
<table class="table" border="1">
    <tr>
        <td>
            <select class="sel" style="font-size: 20px;width: 100px; background: rgba(0,0,0,0);border: none">
                <option value="number">用户名</option>
                <option value="name">姓名</option>
                <option value="sex">性别</option>
                <option value="dateOfBirth">出生日期</option>
                <option value="major">职位</option>
                <option value="telephone">联系方式</option>
                <option value="dateOfRegistration">注册日期</option>
            </select>
        </td>

        <td class="TdSelect" colspan="5">
            <input class="select"/>
        </td>

        <td>
            <button class="button">查询</button>
        </td>
    </tr>
    <tr class="TrTitle">
        <td>用户名</td>
        <td>姓名</td>
        <td>性别</td>
        <td>出生日期</td>
        <td>联系方式</td>
        <td>职位</td>
        <td>注册日期</td>
    </tr>
</table>
<div class="Jump">
    <button class="button1" onclick="shu('button1')">上</button>
    <!-- onkeyup对输入的值进行限制 -->
    <input class="inp" onkeyup="value=value.replace(/[^\d]/g,'')"/>
    <button class="button2" onclick="shu('button2')">下</button>
    <div class="total">总数：
        <div class="totalNumber" style="display: inline-block"/>
    </div>
</div>
</body>
</html>