<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>MyClubStatus</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <style>
        div {
            text-align: center;
            margin-top: 20%;
        }

        h3 {
            color: #000;
            font-weight: 400;
        }

        a {
            text-decoration: none;
        }

        .table {
            width: 600px;
            height: 100px;
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        var personalBean = parent.window.personalBean;

        /**信息对象*/
        var _ApplyInformationBean = {};

        /**社团对象*/
        var _AssociationBean = {};

        var _data = {}

        $(function () {
            /**操作显示哪一个*/
            let nul = $(".nul");
            let table = $(".table");
            let a = $(".a");

            _data.number = personalBean["number"];

            $.ajax({
                url: "MyClubStatusSelect/ApplyInformationBean",
                data: _data,
                async: false,
                success: function (data) {
                    _ApplyInformationBean = data;
                    _data.applyAssociation = data.applyAssociation;
                }
            });

            $.ajax({
                url: "MyClubStatusSelect/AssociationBean",
                data: _data,
                async: false,
                success: function (data) {
                    _AssociationBean = data;
                }
            });


            if ($.isEmptyObject(_ApplyInformationBean)) {
                table.hide();
            } else {
                /**隐藏添加标签*/
                nul.hide();
                a.hide();

                /**向信息表中添加数据*/
                $(".applyAssociation").text(_AssociationBean.associationID);
                $(".associationName").text(_AssociationBean.associationName);
                $(".associationProprieter").text(_AssociationBean.associationName)

                if (_ApplyInformationBean.applyResult == 1) {

                } else if (_ApplyInformationBean.applyResult == 0) {
                    $(".button").hide();
                    a.show();
                    $(".result").text("不通过");
                } else {
                    $(".resultText").text("操作");
                }

            }

        });

        function del() {
            _data.ApplyInformationNumber = _ApplyInformationBean.number;
            $.ajax({
                url: "DeleteApplyInformation",
                data: _data,
                success: function (dex) {
                    if (dex == "撤销成功！") {
                        $(".table").hide();
                        $(".nul").show();
                        $(".a").show();
                    } else {
                        alert(dex);
                    }
                }
            });
        }
    </script>
</head>
<body style="background: rgb(255,255,255)">
<div class="text">

    <div class="nul">
        <h3>我还没有参加任何社团</h3>
    </div>

    <table class="table" border="1" align="center">
        <tr>
            <td>申请社团ID</td>
            <td>社团名称</td>
            <td>社团社长</td>
            <td class="resultText">结果</td>
        </tr>
        <tr>
            <td>
                <div class="applyAssociation"></div>
            </td>
            <td>
                <div class="associationName"></div>
            </td>
            <td>
                <div class="associationProprieter"></div>
            </td>
            <td>
                <button class="button" onclick="del()">撤销</button>
                <div class="result"></div>
            </td>
        </tr>
    </table>
    <a class="a" href="AddOrganization">添加社团</a>
</div>

</body>
</html>
