div {
    margin-top: 5px;
}
.ti1,
.ti2,
.ti3,
.ti4,
.ti5 {
    /* 字间距 */
    /* letter-spacing:10px; */
    font-size: 20px;
    position: relative;
    width: 150px;
    height: 50px;
    text-align: center;
    /* 设置行间的距离（行高） */
    line-height: 50px;
    border-bottom: 1px #ffffff ridge;
    background-color: aqua;
}

.stair2 {
    display: none;
}

.stair2 >div >div {

    position: relative;
    width: 150px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-bottom: 1px #ffffff ridge;
    background-color: #27eaff;
}

.da {
    text-align: left;
    margin-top: 10px;
    padding-left: 15px;
}