* {
	margin: 0;
	padding: 0;
}

body {}

iframe{
	/* 去掉iframe显示的边框 */
	border: medium none;
}

#kuang{
	background-color: #1E6357;
}

#title {
	display: inline-block;
	color: white;
	font-size: 30px;
	font-weight: 600;
	margin-top: 1%;
	margin-left: 3%;
	margin-bottom: 20px;
	text-align: left;
}
#quit {
	display: inline-block;
	color: white;
	margin-right: 3px;
	text-decoration: none;
}

.headPortrait{
	height: 110px;
	background-color: #00B090;
}
/* ************************* */

#caidan {
	padding-top: 10px;
	float: left;
	margin-left: 10px;
	width: 200px;
	height: 630px;
	left: -10px;
	position: relative;
	background-color: #00B090;
}

#nei{
	float: right;
	right: 0%;
	margin-top: 0px;
	width: 86%;
	height: 640px;
	/*position: relative;*/
	/*left: -20px;*/
}
.img{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.user{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.quan{
	margin-left: 10px;
	margin-bottom: 15px;
}

.text{
	display: none;
}

tr {
	height: 40px;
}

td {
	width: 600px;
	text-align: center;
}

/*******************菜单*************************************/
.ti1,
.ti2,
.ti3,
.ti4,
.ti5 {
	/* 字间距 */
	/* letter-spacing:10px; */
	font-size: 20px;
	position: relative;
	width: 212px;
	height: 50px;
	text-align: center;
	/* 设置行间的距离（行高） */
	line-height: 50px;
	border-bottom: 1px #ffffff ridge;
	background-color: aqua;
}

.stair2 {
	display: none;
}

.stair2 >div >div {

	position: relative;
	width: 212px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-bottom: 1px #ffffff ridge;
	background-color: #27eaff;
}

.da {
	text-align: left;
}

.caidan{
	position: relative;
	top: 2px;
}
