<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/layer/3.5.1/layer.js"></script>
    <script type="text/javascript" th:src="@{/js/page.js}"></script>

    <script type="text/javascript">
        /**获取数据*/
        var personalBean = {};
        personalBean = [(${personalBean})];
    </script>

    <link type="text/css" th:href="@{/css/page.css}" rel="stylesheet"/>
    <title>社团管理系统</title>
</head>

<body bgcolor="#45E8CA">
<div id="kuang">
    <div id="title">学生社团信息管理系统</div>
</div>
<div class="headPortrait">
    <iframe width=0 height=0 frameborder=0 name="myiframe"></iframe>
    <!--enctype="multipart/form-data"==>提示提交数据为二进制代码-->
    <form id="form" method="post" action="settingFile" enctype="multipart/form-data" target="myiframe">

        <input name="file" hidden id="file" accept=".jpg,.png,.jpeg,.pdf,.gif" type="file" class="file">

        <!--/*@thymesVar id="number" type=""*/-->
        <input hidden style="display: none" class="num" name="number"/>

        <div class="img">
            <!--/*@thymesVar id="url" type=""*/-->
            <img style="border-radius:50%; overflow:hidden;" width="80px" height="80px" id="myImage">
        </div>
    </form>
    <div>

        <div class="user">昵称:</div>

        <div class="quan">账号:</div>
    </div>

    <!--    <iframe id="caidan" scrolling="no" src="caidan"></iframe>-->
    <div class="caidan">
        <div class="da">
            <div class="ti2 stair" onclick="toggleshow('tem2')">我的社团</div>
            <div class="tem2 stair2">

                <div>
                    <div onclick="JumpHtmlAndNumber('MyClubStatus')">我的社团状态</div>
                </div>
                <div>
                    <div class="nul" onclick="JumpHtml('ApplyAssociation')">申请创建社团</div>
                </div>
                <div>
                    <div onclick="JumpHtml('activity')">参加社团活动</div>
                </div>
                <div>
                    <div onclick="JumpHtmlAndNumber('activityAll')">参加的活动</div>
                </div>
            </div>
        </div>

        <div class="da">
            <div class="ti3 stair" onclick="toggleshow('tem3')">社团管理</div>
            <div class="tem3 stair2">
                <div>
                    <div onclick="JumpHtml('ToExamine')">审核信息</div>
                </div>

                <div>
                    <div onclick="JumpHtml('ActivityRequest')">活动发布申请</div>
                </div>

                <div>
                    <div onclick="JumpHtml('ActivityHistory')">活动历史记录</div>
                </div>
            </div>
        </div>

        <div class="da">
            <div class="ti4 stair" onclick="JumpHtml('announcement')">公告</div>
        </div>

        <div class="da">
            <div class="ti5 stair" onclick="JumpHtml('setting')">设置</div>
        </div>

    </div>
</div>

<div class="nei">
    <iframe id="nei" th:src="nei"></iframe>
</div>

</body>
</html>
