<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>学生社团管理系统</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <link type="text/css" th:href="@{/css/register.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/register.js}"></script>
</head>
<body bgcolor="#45E8CA">
<div class="ku">
    注册
</div>
<div class=" kuang">
    <div class="zhong">
        <div class="text">
            <input id="number" name="number" type="text" minlength="6" maxlength="8" placeholder="用户名(6~8位数字)"/>
        </div>
        <div class="text">
            <input id="password1" name="password1" type="password" minlength="6" maxlength="8" placeholder="密码(6~8位数字)"/>
        </div>
        <div class="text">
            <input id="password2" name="password2" type="password" minlength="6" maxlength="8" placeholder="确认密码(6~8位数字)"/>
        </div>
        <div class="text">
            <input id="telephone" name="telephone" minlength="11" maxlength="11" type="text" placeholder="电话"/>
        </div>
    </div>
    <button class="botton" onclick="sub()">注册</button>
    <br>
    <div class="hint">如果你已有账户，请点击这里 &nbsp;&nbsp;<a href="login">登录</a></div>
</div>
</body>
</html>
