<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>ToExamine</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <style>
        tr {
            height: 50px;
        }

        td {
            width: 500px;
        }

        .table {
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        var personalBean = parent.window.personalBean;

        var _data = {};

        var _list;

        $(function () {
            _data.associationNumber = personalBean["associationNumber"];
            $.ajax({
                url: "ToExamine/ReviewedApplyInformationBeanSelect",
                data: _data,
                async: false,
                success: function (data) {
                    _list = data;
                }
            });

            let table = $(".table > tbody");

            for (let index in _list) {
                let ApplyInformationBean = _list[index];

                let tr = $("<tr></tr>");

                let td = [];
                for (let i = 0; i < 3; i++) {
                    td[i] = $("<td></td>");
                }

                td[0].text(ApplyInformationBean.applyNumber);
                td[1].text(ApplyInformationBean.applyIntroduction);
                td[2] = $("<td><button onclick='judge(this,true)'>通过</button><button onclick='judge(this,false)'>拒绝</button></td>");

                for (let i = 0; i < 4; i++) {
                    tr.append(td[i])
                }

                table.append(tr);
            }
        });

        /**操作*/
        function judge(button, param) {
            _data.result = param;
            let number = $(button).closest("tr").find("td").eq(0).text();
            /**获取申请信息的编号*/
            for(let key in _list){
                if(_list[key].applyNumber == number){
                    _data.ID =_list[key].number;
                }
            }
            $.ajax({
                url: "ToExamine/judge",
                data: _data,
                success: function () {
                    $(button).closest("tr").remove();
                }
            });
        }

    </script>
</head>
<body style="background: rgb(255,255,255)">
<table class="table" border="1">
    <thead>
    <tr>
        <td>
            申请账号
        </td>
        <td>
            申请信息
        </td>
        <td>
            操作
        </td>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

</body>
</html>
