<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>设置</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/date.js}"></script>
    <script type="text/javascript" th:src="@{/js/setting.js}"></script>
    <style type="text/css">
        tr {
            height: 80px;
        }

        td {
            width: 600px;
        }

        input {
            border: none;
            outline: none;
            background-color: rgba(0, 0, 0, 0);
        }

        div {
            display: inline-block;
        }

        select {
            background: rgba(0, 0, 0, 0);
        }

    </style>
</head>

<body>
<table border="1" align="left">
    <iframe width=0 height=0 frameborder=0 id="myiframe" name="myiframe"></iframe>
    <tr>
        <td>账号：
            <div class="number" ></div>
            <input class="number" disabled style="display: none;">
        </td>
        <td>用户昵称：
            <div class="nickName" ></div>
            <input class="nickName" minlength="3" maxlength="8" style="display: none;">
        </td>
    </tr>
    <tr>
        <td>用户密码：
            <text class="password">********</text>
            <div style="display: none" class="password" ></div>
            <input  class="password" type="text" minlength="6" maxlength="8" style="display: none;">
            <!--小眼睛图片元素-->
            <img style="display: none;" class="img" onclick="imgclick(this)" src="http://localhost:8080/img/pigsney-open.png">
            <img style="display: none;" class="img" onclick="imgclick(this)" src="http://localhost:8080/img/pigsney-close.png">
        </td>

        <td>性别:
            <div class="sex" ></div>
            <select class="sex" style="display: none;">
                <option selected="true" style="display: none"></option>
                <option value=1>男</option>
                <option value=0>女</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>学号：
            <div class="studentNumber"></div>
            <input class="studentNumber" minlength="9" maxlength="9" style="display: none;">
        </td>
        <td>生日：
            <div class="dateOfBirth"></div>
            <input class="dateOfBirth" style="display: none;" type="date">
        </td>
    </tr>
    <tr>
        <td>用户加入社团：
            <div id="associationNumber"></div>
        </td>
        <td>用户社团职位：
            <div id="major"></div>
        </td>
    </tr>
    <tr>
        <td>姓名：
            <div class="name" ></div>
            <input class="name" minlength="2" maxlength="10" style="display: none;">
        </td>
        <td>用户专业：
            <div class="schoolMajor"></div>
            <select class="selectSchoolMajor" style="display: none">
            </select>
        </td>
    </tr>
    <tr>
        <td>用户电话：
            <div class="telephone" ></div>
            <input class="telephone" minlength="11" maxlength="11" style="display: none;">
        </td>
        <td>用户邮箱：
            <div class="mailbox" ></div>
            <input class="mailbox" style="display: none;">
        </td>
    </tr>
    <tr>
        <td>
            <button onclick="sub()" disabled>确定</button>
        </td>
        <td>
            <button onclick="tiaozhaun()">编辑</button>
        </td>
    </tr>
</table>
</body>
</html>
