<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CommunityApplicationReview</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>

    <style type="text/css">
        tr {
            height: 50px;
        }

        td {
            width: 1700px;
        }

        .table {
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            let data = "[(${data})]";
            console.log(data);
            let array = data.substring(2, data.length - 2).split("}, {");
            console.log(array);


            for (let key in array) {
                let value = array[key].split(",");

                let tr = $("<tr></tr>");
                let td = [];

                td[1] = $("<td></td>").text(value[5].split("=")[1]);
                td[2] = $("<td></td>").text(value[2].split("=")[1]);
                td[3] = $("<td></td>").text(value[0].split("=")[1]);
                td[4] = $("<td></td>").text(value[4].split("=")[1]);
                td[5] = $("<td></td>").text(value[1].split("=")[1]);

                let associationReason = "";
                if (value[3].split("=")[0] == " associationReason") {
                    associationReason = value[3].split("=")[1];
                } else {
                    associationReason = "";
                }
                td[6] = $("<td></td>").text(associationReason);
                td[7] = $("<td><button onclick='button(this,0)'>通过</button><button onclick='button(this,1)'>驳回</button></td>");

                for (let i in td) {
                    tr.append(td[i]);
                }

                $(".table").append(tr);
            }
        });

        function button(button, value) {
            let associationID = $(button).closest("tr").find("td").eq(0).text();
            console.log(window.location.href)
            $.ajax({
                url: window.location.href + "/" + value + "/" + associationID,
                success: function (dex) {
                    if (dex == "操作成功！") {
                        alert(dex);
                        window.location.reload();
                    } else {
                        alert(dex);
                    }
                }
            })
        }
    </script>
</head>
<body style="background: rgb(255,255,255)">
<table class="table" border="1px" align="center">
    <tr>
        <td>
            社团编号
        </td>
        <td>
            社团名
        </td>
        <td>
            社长账号
        </td>
        <td>
            社长名字
        </td>
        <td>
            社团介绍
        </td>
        <td>
            社申请理由
        </td>
        <td>
            操作
        </td>
    </tr>
</table>
</body>
</html>